---
import Layout from '../layouts/Layout.astro';
---

<Layout title="thafner - about">
    <main>
        <h1>Hello there!</h1>
        <p>I'm Tav.</p>
        <p>
            I love building web applications and am currently working with
            Sliderule on no-code backend tools.
        </p>
    </main>

    <style>
        main {
            width: 100%;
            height: 100vh;
            background-color: black;
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</Layout>
