---
import Layout from '../layouts/Layout.astro';
---

<Layout title="thafner - contents">
    <main>
        <h1>Tav Hafner</h1>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/blog">Blog</a></li>
            <p>---</p>
            <a href="/">Back to terminal</a>
        </ul>
    </main>
    <style>
        main {
            width: 100%;
            height: 100vh;
            background-color: black;
            color: white;
        }
    </style>
</Layout>
