<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>~ thafner</title>
    </head>
    <body>
        <div id="terminal">
            <main>
                <slot />
            </main>
        </div>
    </body>
</html>

<style is:global>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: black;
        color: white;
        font-family: Menlo;
    }

    main {
        width: 100%;
        height: 100vh;
    }
</style>
